<p id="notice"><%= notice %></p>

<h1>Releases</h1>

<table>
  <thead>
    <tr>
      <th>Release</th>
      <th>Artist</th>
      <th>For Sale</th>
      <th>Lowest Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= link_to(release.title, "http://www.discogs.com/release/#{release.release_id}", target="_blank") %></td>
        <td><%= release.artist %></td>
        <td><%= release.listings_count %></td>
        <td><%= release.lowest_price %></td>
        <td><%= link_to 'Show', release %></td>
        <td><%= link_to 'Edit', edit_release_path(release) %></td>
        <td><%= link_to 'See Listings', release_search_listings_path(release) %></td>
        <td><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release', new_release_path %>
